.select-button {
    background-color: #fff;
    border-radius: 10px;
    white-space: nowrap;
    padding: 0 1rem;
    border: 1px solid #000;
    font-size: 14px;
    max-width: 100%;
    overflow: hidden;

}

.card-text {
    text-align: center;
    color: gray;
}
.bds-c-rating-star{
    fill: #fa0050;
    ;
}
.card{
    border-radius: 1.5rem;
}
.vendor-tile-revamped-image{
    border-radius: 1.5rem  1.5rem 0 0  ;
}
.select-button:hover{
    background-color: opacity(0.5);
    cursor: pointer;
}
button.active {
    background-color: opacity(0.5);
    color: gray; 
}