
.dsc-text {
    font-size: 2rem;
    font-weight: bold;
}
.downloadApp{
    background: #fa0050;
    border-radius: 16px;
    color: #fff;
}
.link{
    color: #fa0050;
}
.bds-c-hero__image {
    object-fit: cover;
}
.slider__form{
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    gap: 1rem;
}
.location__form {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #dee3ed;

}

.locfind__button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    
}
.location__button{
    color: white;
    background-color: #cd0042;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.location__input {
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    border: none;
}
.partners{
    margin-bottom: 200px;
}
.partners-section{
    position: absolute;
    z-index: 1;
    bottom: -50%;
    width: 30%;
    padding: 5px;
    border-radius: 10px;
    background-color: white; 
    box-sizing: border-box;

}
.partners-image{
    background-image: url('/İMG/home-vendor-tr.webp');

    position: relative;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 404px;
    
}
.partners__button{
    color: white;
    padding: 10px;
    background-color: #cd0042;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
